<div class="container">
    <div class="row justify-content-center">
        <!-- <div class="col-sm"></div> -->
        <div class="col-sm"><app-searchbar query=''></app-searchbar></div>
        <!-- <div class="col-sm"></div> -->
    </div>
    <div class="row">
        <div class="col-sm">

        </div>

        <div class="col-sm">
            <app-selection-table></app-selection-table>
        </div>
        <div class="col-sm" >
            <app-card></app-card>
        </div>
    </div>
</div>
<hr class="my-3"/>

<div class="container">
    <div class="row">Predictions</div>
    <div class="row">
        <div class="col-sm"><app-card></app-card></div>
        <div class="col-sm"><app-card></app-card></div>
        <div class="col-sm"><app-card></app-card></div>
        <div class="col-sm"><app-card></app-card></div>
        <div class="col-sm"><app-card></app-card></div>
    </div>

</div>
